/* Əgər header <header> teqi ilədirsə */
header {
  display: none !important;
}

/* Və ya className ilədirsə */
.header {
  display: none !important;
}

/* Və ya id ilədirsə */
#header {
  display: none !important;
}